{% extends 'base.html.twig' %}

{% block title %}Je me connecte{% endblock %}

{% block metaDescription %}
    <meta name="description" content="Remplissez le formulaire de connexion pour
    créer et réviser de nouvelles cartes mémoire !">
{% endblock %}

{% block ogMeta %}
    <!-- block og:meta (facebook) : url, title and description -->
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:title" content="Je me connecte | ExtraMémoire" />
    <meta property="og:description" content="Remplissez le formulaire de connexion pour
    créer et réviser de nouvelles cartes mémoire !" />
{% endblock %}

{% block JSON %}
    <!-- block SEO JSON -->
    <script type='application/ld+json'>
        {
            "@context": "http://www.schema.org",
            "@type": "WebSite",
            "name": "Je me connecte | ExtraMémoire",
            "url": "{{ app.request.uri }}"
        }
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-5 mb-5">
                <h1 class="position-relative text-center">Connexion</h1>
                <form id="form-login" action="{{ path('security_login') }}" method="post">

                    {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="form-group mt-5">
                        <label for="_username">Adresse mail</label>
                        <input type="email" value="{{ last_username }}" name="_username" id="_username" class="form-control"
                        placeholder="Veuillez saisir votre adresse mail" required autofocus>
                    </div>
                    
                    <div class="form-group">
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="_password" id="inputPassword" class="form-control"
                        placeholder="Veuillez saisir votre mot de passe" required>
                    </div>
                    
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                    #}

                    <div class="form-group mt-4 mb-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="_remember_me" id="remember_me" checked="checked">
                            <label class="form-check-label active" for="remember_me">
                                Rester connecté
                            </label>
                        </div>
                    </div>

                    <button class="btn btn-info btn-block" type="submit">
                        Me connecter
                    </button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="{{ asset('js/login.js') }}"></script>
{% endblock %}